@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);

html {
    scroll-behavior: smooth;
  }
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body {
    position: relative;
  }
.row{
	justify-content: center;
}
.row1{
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.col-6{
	flex-direction: column;
	justify-content: center;
	align-items: center;	 
}
.col-12{
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding-right: 0em;
}
nav{
	background-color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
	border-top: 0;
	display: none;
}

body{
	font-family: "Ubuntu", sans-serif;
	font-size: 100%;
	color: #6C656C;
	background:white;
}

.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20em 0em;
}
.about{
	padding: 5em;
}
.introText{
    padding: 0em 2.5em;
}

span{
	font-family: "Ubuntu", sans-serif;
	font-size: 1em;
}

a{
	text-decoration: none;
	color: #6C656C;
}
a:hover{
	color:#999;
	transition: all .3s ease;
	text-decoration: none;
}

button {
	padding: 10px;
	border-radius: 3px;
	background: #E0E0E0;
	/*border: #CCC 1px solid;*/
}

p{
	line-height: 2em;
	text-align: center;
	color: grey;
}
p>a:hover{
	color: #AAAAAA;
	text-decoration: none;
	transition: all .4s ease;
}
.introText{
	max-width: 707px;
}

hr{
	border: 0;
	border-bottom: #CCC 2px solid;
	margin: 30px auto;
}
h2{
	color: #6C656C;
}
h5, h6{
	color: white;
}

.projects{
	padding-top: 10em;
	padding-bottom: 6em;
}

.projects2{
	padding-bottom: 2em;	
}

.col-12>h2{
	color: #AAAAAA;
}

.carousel-item>p{
	color:#AAAAAA;
}
#soundbitesCarousel{
	text-align: center;
	background-color: #6C656C;
	color: #fefefe;
}
.soundbites{
	padding-top: 11em;
	background-color: #6C656C;
	color: #fefefe;
}

.soundbites2{
	
	background-color: #6C656C;
	color: #fefefe;
	padding-bottom: 10em;
	padding-top:3em;
}

.carouselRow{
	display: flex;
	flex-direction: column;
}

.carouselColumn{
	display: flex;
	flex-direction: row;

}
.connect{
	padding: 4em 0em;
}
.title{
	font-size: 4em;
}

.wrap{
	max-width: 600px;
	margin:50px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	color: #fff;
	border-radius: 5px;
	/*border:#CCC 1px solid;*/
}
#typed{
	color: #6C656C;
	letter-spacing: .1rem;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*FORM*/
/* ----------------------------------------
Comment Form
------------------------------------------- */
form {
	margin: 1% 3%;
}
.formBox{
	padding: 1em;
}
form-control  {
    display: flex;
    border: .15em solid #44545E;
    background-color: white;
    border-radius: 0;
    margin: .5em 2em;
    padding: 2em;
    text-align: left;
    width: 100%;
    font-size: .9rem;
    font-weight: 700;
}
.formRow1{
	padding: 0em 3em;
}
.formRow2{
	padding: 1em 0em;
}
button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #7D6F7A;
	color: #44545E;
	padding: 8px 25.5px;
	padding: 8px 1.7rem;
	background-color: transparent;
	font-weight: 500;
	font-size: 12.299px;
	font-size: .82rem;
	letter-spacing: 1.2px;
	letter-spacing: .08rem;
	transition: all .3s ease;
	text-align: center;
}

button,
input[type="submit"] {
	cursor: pointer;
	outline: 0;
	display: flex;
	border: .15em solid #7D6F7A;
	background-color: white;
    border-radius: 0;
    text-transform: uppercase;
    margin: .5em 0em;
    text-align: center;
    width: 100%;
    font-size: .9rem;
    font-weight: 700;
    justify-content: center;
}

button:hover,
input[type="submit"]:hover {
	background-color: #7D6F7A;
	color: white;
	font-weight: 600;
	text-align: center;
	justify-content: center;
}

*/
button {
	cursor: pointer;
	outline: 0;
	border: .15em solid #7D6F7A;
	color: #44545E;
	text-align: center;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12.299px;
	font-size: .82rem;
	letter-spacing: 1.2px;
	letter-spacing: .08rem;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #6D6B6E;
	color: white;
	font-weight: 600;
}
.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	text-align: center;
	height: 5em;
    padding-top: 5em;
    padding-bottom: 2em;
}
.fab{
    padding: 1.2em;
}

.zoom {
	position: fixed;
	bottom: 45px;
	right: 24px;
	height: 70px;
	z-index: 10;
	color: white;
  }
  
  .zoom-fab {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #6C656C;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	transition: 0.2s ease-out;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	color: #FFF;
  }
  
  .zoom-fab:hover {
	background-color: #999;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  
  .zoom-btn-large {
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: white;
  }
  
  .zoom-menu {
	position: absolute;
	right: 70px;
	left: auto;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	width: 500px;
	list-style: none;
	text-align: right;
	color: white;
  }
  
  .zoom-menu li {
	display: inline-block;
	margin-right: 10px;
	color: white;
  }
  
  .zoom-card {
	position: absolute;
	right: 150px;
	bottom: 70px;
	transition: box-shadow 0.25s;
	padding: 24px;
	border-radius: 2px;
	background-color: #6C656C;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	color: #FFF;
  }
  
  .zoom-card ul {
	-webkit-padding-start: 0;
	list-style: none;
	text-align: left;
	color: white;
  }

  .zoom-btn-1 { background-color: #6C656C; }

  .zoom-btn-1:hover { background-color: #999; }
  
  .zoom-btn-2 { background-color: #6C656C; }
  
  .zoom-btn-2:hover { background-color: #999; }
  
  .zoom-btn-3 { background-color: #6C656C; }
  
  .zoom-btn-3:hover { background-color: #999; }
  
  .zoom-btn-4 { background-color: #6C656C; }
  
  .zoom-btn-4:hover { background-color: #999; }
  
  .zoom-btn-5 { background-color: #6C656C; }
  
  .zoom-btn-5:hover { background-color: #999; }

  .scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

@media only screen and (max-width:900px) {
  /*make desktop nav disappear on mobile*/
nav {
	/* display: none; */
}
.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 19em 0em;
}
.hero{
	padding: 0em 2em;
}
.introText{
	
	max-width: 1270px;
}
span{
	font-size: .9em;
}
.projects{
	padding:2em;
}
.connect{
	padding:5em 0;
}
.formBox{
	padding: 1em;
}
